<div class="modal-header">
  <h3 class="modal-title">LIBRA</h3>
</div>
<div class="modal-body">
  <p>Libra is a browser for open Landsat 8 satellite imagery. Use it to browse, filter, sort, and download images.</p>
  <p>Each circle on the map represents the number of available images at that location. Filters at the top of the map can be used to select a new date range, cloud cover percentage, and sun azimuth angle.</p>
  <p>Once your download is complete, check out <a href="https://github.com/developmentseed/landsat-util" target="_blank">Landsat-util</a> for <a href="http://www.developmentseed.org/blog/2014/08/29/landsat-util/" target="_blank">processing the raw image</a> and getting it ready for publication and analysis</a>.</p>
  <p>Search results are powered by <a href="https://github.com/developmentseed/landsat-api" target="_blank">Landsat 8 Metadata API</a> and images from <a href="http://earthexplorer.usgs.gov/" target="_blank">USGS Earth Explorer</a>. Downloads are provided via <a href="https://earthengine.google.org/#intro" target="_blank">Google Earth Engine</a> and <a href="http://aws.amazon.com/public-data-sets/landsat/" target="_blank">Amazon Web Services</a>. Icons courtesy of Laurent Patain, Arthur Shlain, NAS, and iconsmind.com via <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC by 3.0</a></p>
  <p>Developed by:</p>
  <div class="logos">
    <a href="http://www.developmentseed.org/" target="_blank"><img src="images/logo_horizontal_white.png"/></a><a href="http://astrodigital.com/" target="_blank"><img src="images/astrodigital.png"/></a>
  </div>
</div>
